@{
    ViewBag.Title = "Empleadomatico";
}

@**@

<div class="row">
    <div class="col-md-6 margin-top-5 ">
        @Html.ActionLink("Añadir nueva entrada", "Index", "empleadoes", new { @class = "btn btn-primary btn-large btn-block margin-top-20" })
        @Html.ActionLink("Ver Lista", "Index", "empleadoes", new { @class = "btn btn-primary btn-large btn-block" })
        @Html.ActionLink("Lisa de empleados", "Index", "empleadoes", new { @class = "btn btn-primary btn-large btn-block" })
    </div>
    

    <div class=""></div>
</div>

